/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1;
}

/* Clear floated elements */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Remove default text decoration for links */
a {
  text-decoration: none;
}

/* Remove default cursor style for buttons and links */
button, [type="button"], [type="reset"], [type="submit"], a {
  cursor: pointer;
}

/* Remove outline for focused elements */
:focus {
  outline: 0;
}

/* Remove blue background color for focused elements in Internet Explorer */
::-moz-focus-inner {
  border: 0;
}

/* Remove default user agent styles */
body, input, button, select, textarea {
  font-family: Arial, sans-serif;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}
